{% extends 'blog/base.html' %}

{% block content %}
<div class="post-detail">
    <div class="comments">
        <h1>Tvoje zpětná vazba nám pomáhá se zlepšovat.</h1>
        <p>Napiš nám prosím Tvůj názor na lekci. Stíhala jsi?
            Bylo něco, čemu jsi nerozuměla? Byla pro tebe lekce moc těžká/lehká/akorát?
             Když jsi potřebovala, pomohl Ti kouč?</p>
    </div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form }}
        <div class="btn-save">
            <button type="submit" class="save">Odeslat</button>
        </div>
    </form>
</div>
{% endblock %}
