{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs"  >
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"></meta>
        <meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
        <title>
            {% block title %}
                PyLadies - zpětná vazba
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700&subset=latin,greek,greek-ext,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="page-header">
            <div class="logo">
                <a href=/> <img class="logo2" src="{% static 'img/pyladies.png' %}" alt="pyladies-logo"></a>
            </div>
            <div class="header-text">
                <h1><a href="/">Zpětná vazba</a></h1>
                <h2>{{ nazev_kurzu }}</h2>
            </div>
        </div>
        <div class="content">
             {% block content %}
             {% endblock %}
        </div>
    </body>
</html>
